
body{
    background-color: #222;
}


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


li{
    list-style: none;
}

h4{
    margin: 0;
}
a{
    text-decoration: none;
}

@keyframes fakeIn{
    from{
            opacity: 0;
            transform: scale(0);
    }
    to{
            opacity: 1;
            transform: scale(1);
    }
}
@keyframes stagger{
    from{
        transform: translateY(70px);
    }
}
@keyframes fakeOut{
   from{
       transform: translateY(0);
   }
    to{
            transform: translateX(-50%);
    }
}

@keyframes scale{
        from{
                    transform: scale(1);
                    opacity: 0;
        }
        to{
                transform: scale(1.2);
                opacity: 1;
        }
}

/* btn change layout */

.btn__change__layout{
        width: 30px;
        height: 40px;
        border: none;
        background-color: transparent;
}
/* transition__effect-elemen */

.transition__effect{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.transition__effect-elemen{
    width: 10px;
    height: 10px;
    margin: 0 20px;
    border-radius: 100px;
    background-color: rgba(138, 138, 138, 0.794);
}
.transition__effect-elemen-color{
            background-color: #fd4;
}
/* back home */

.back__home{
          width: 60px;
          height: 60px;
          border-radius: 100px;
          background-color: #333;
          position: fixed;
          bottom: 5%;
          right: 5%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid transparent;
}

.back__home .fa-chevron-up{
          font-size: 30px;
          color: #b90;

}

.back__home:hover{
          cursor: pointer;
          border-color: #fd4 ;
}
/*  log in */

.block__login{
          width: 10%;
          height: 35px;
          border-radius: 30px;
          overflow: hidden;
}

.label__check__box{
          display: block;
          width:100%;
          height: 100%;
          text-align: center;
}
.label__check__box:hover{
          cursor: pointer;
          background-color: rgb(0, 0, 0, 0.3);
}

.label__check__box h4{
          color: #fff;
          font-size: 20px;
          font-weight: 100;
          line-height: 35px;
}

#check__login:checked ~ .block__cover__login{
          animation: fakeIn linear .3s;
          display: flex;
}

.layout__login{     
          top: 0;
          position: absolute;
          display: block;
          background-color: rgba(0, 0, 0, 0.609);   
          height: 100vh;
          width:100%;

}

.block__cover__login{
          width: 100%;
          height: 100%;
          top: 0;
          position: fixed;
          display: none;
          justify-content: center;
}
.cover__login__times{
          position: absolute;
          top: 0;
          right:5px;
          font-size: 25px;
          color: rgba(51, 51, 51, 0.644);
          transition: transform linear .5s;
}
.cover__login__times:hover{
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                    transform: rotateZ(360deg);
}

.cover__login{
          width: 60%;
          height: 75%;
          position: absolute;
          transform: translateY(-50%);       
          top: 50%;   
          background-color: #fff;
          display: flex;
          border-radius: 6px;
}
.login__img__layout{
          overflow: hidden;
          width: 50%;
          height: 100%;
           border-top-left-radius: 6px ;
          border-bottom-left-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
}

.intro__login__page{
          position: absolute;     
         text-align: center;
}
.intro__login__page h1{
          font-size: 30px;
          color: #fff;
}

.intro__login__page p{
          color: #fff;
          font-size: 15px;
}

.login__main__layout{
            width: 50%;       
            height: 100%;
            padding: 0 5%;
            flex: 1;
}         
.sign__in__up{
          width: 100%;
          height: 80px;
          margin-top: 50px;
          display: flex;
          justify-content: space-around;
}
.sign__in__up *{
          color: rgba(0, 0, 0, 0.726);
          text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
          line-height: 50px;
          height: 50px;
          font-weight: 600;
}

.sign__in__up h1:hover{
          cursor: pointer;
          font-size: 35px;
}

.underlined{
          border-bottom: 3px solid rgb(240, 101, 240);
}
.input__sign{  
          flex-direction: column;
}
.input__sign input{
          display: block;
          background-color: transparent;
          height: 40px;
          width: 100%;
          border: none;
          outline: none; 
          border-radius: 5px;
         
}
.rgb__layout__input{
          
          width: 100%;
          height: 2px;
          margin-bottom: 8px;
          background: linear-gradient(90deg, rgb(120, 0, 131)  ,rgba(240, 53, 162, 0.726));
}

.btn__login{
          width: 100%;
          height: 40px;
          margin-top: 20px;
          border: none;
          border-radius: 20px;
          background: linear-gradient(90deg, rgb(120, 0, 131)  ,rgb(240, 53, 162));
          position: relative;
          
}
.btn__login h4{
          color: #fff;
          font-size: 18px;
}
.btn__login i{
         position: absolute;
         right: 10px;
         transform: translateY(-50%);
         top: 50%;
         color: #fff;
         font-size: 20px;
}
.btn__login:hover{
          cursor: pointer;
          box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}
.forgot__pass{
          display: flex;
          margin-top: 15px;
          justify-content: space-between;
}
.forgot__pass > div{
          display: flex;
}  

.forgot__pass > div >input{
          margin: 4px 5px 0 0;
}

.forgot__pass * {
          color: #333;
          font-size: 16px;
}
.sign__conect{
          width: 100%;
          height: auto;
          margin-top: 20px;

}
.sign__face{
          display: flex;
          height: 40px;
          background: linear-gradient(90deg, rgb(6, 54, 212), rgb(73, 153, 228)) ;
          align-items: center;
          border-radius: 3px;
          box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.sign__face:hover{
          transform: scale(1.08);
}

.sign__face > .fab.fa-facebook-f{
          margin-left: 25%;
          font-size: 25px;
          color: #fff;       
}

.sign__face h4{
          color: #fff;
          margin-left: 10px;
          font-size: 15px;
}

.sign__instagram{
          display: flex;
          border-radius: 3px;
          box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
          margin-top: 10px;
          height: 40px;
          background: linear-gradient(90deg, rgb(236, 193, 0), rgb(235, 208, 120)) ;
          align-items: center;     
}
.sign__instagram:hover{
          transform: scale(1.08);
}

.sign__instagram > .fab.fa-instagram{
          margin-left: 25%;
          font-size: 25px;
          color: #fff;       
}

.sign__instagram h4{
          color: #fff;
          margin-left: 10px;
          font-size: 15px;
}




/* .input__sign input:focus{
           box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.157);
} */

/*  layout right */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.block__help{
    position: fixed;
    background-color: #222;
    border: 1px solid #b90;
    width: 210px;
    height: 405px;
    top: 150px;
    transform: translateX(88%);
    right: 0;
    transition: transform  linear 0.5s ;
    
}

.checker__input{
        display: none;
}

.checker__input:checked ~ .block__help {
    background-color: #222;
       transform: translateX(0);  
}

.icon__check__input{
    display: block;
    width: 29px;
    height: 40px;
    background-color: #222;
    border: 1px solid #b90;
    margin-left: -30px;
    margin-top: 90%;
    position: absolute;
}

.icon__check__input:hover ,
 .icon__check__input:hover > .icon__check__right{
    cursor: pointer;
    border-color: rgb(238, 194, 0);
    color: rgb(238, 194, 0);

}

.icon__check__right{
    color: #fd4;
    padding: 10px 0 0 7px ;
}

.logo__checkbox{
    width: 140px;
    height: 140px;
    background-color: #b90;
    border-radius: 6px;
    margin: 15% auto;
    overflow: hidden;
}

.logo__checkbox img{
          width: 100%;
          height: 100%;
}
.btn__checkbox{
            width: 156px;
            height: 40px ;
            border: 2px solid rgb(138, 112, 0);
            display: block;
            margin: 30px auto;
            overflow: hidden;
            display: flex;
}

.box__ios:hover, .box__adr:hover{
    border-color: rgba(255, 221, 68, 0.767);
}
.box__ios:hover > .bt__ios,
 .box__adr:hover > .bt__adr{
    color: rgba(255, 221, 68, 0.767);
}


.btn__checkbox > h2{
    margin: 10px 0 0 0;
    color: #b90;
    font-size: 13px;

}

.bt__ios, .bt__adr {
    color:rgba(190, 155, 0, 0.246);
    font-size: 45px;
    margin: -5px 0 0 -5px;

}

/* ___________________________header nav */
.body__header{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("https://thuthuatnhanh.com/wp-content/uploads/2020/09/tai-anh-game-4k-ban-sung-doi-khang.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}
.nav__header{
        padding: 10px 0;
}
.nav__tittle{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.nav__title-tex{
    width: 10% ;
    position: relative;
    height: 35px;
    display: block;
    padding: 0 15px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent ;
    transform-origin: top;
}


.nav__title-tex:hover{
   /* border-color: #fff; */
    cursor: pointer;
    transform: scale(1.2);
}

.nav__title-tex h4 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.nav__list__game{      
        width: 100%;
        max-width: 120px;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 3px;
        position: absolute;
        display: none;
        transform-origin: top;
        animation: fakeIn ease-out 0.15s ;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
        overflow: hidden;
}

.active__hover{
    display: flex;
    align-items: center;
}

.down__chevron{
        margin-left: 10px;
        padding-top: 7px;
        font-size: 12px;
        color: #fff;
        
}

.active__hover:hover ~ .nav__list__game ,  .nav__list__game:hover{
            display: block;
}


.list-tex{
    margin: 0; 
    padding-left: 5px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.list-tex:hover{
    background-color: rgba(218, 218, 218, 0.26);
    cursor: pointer;
    font-size: 20px;
}



.header__intro{
   width: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
}
.__intro{
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 600px;
}
.__intro-title{
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.btn{
            width: 150px;
            height: 40px;
            border-radius: 20px;
            background-color: rgb(255, 107, 61);
            border-style: none;
            box-shadow: 3px 3px 3px rgba(148, 148, 148, 0.438);
}
.btn h4{
    font-size: 15px;
    color: #fff;
}
.btn:hover{
    background-color: rgb(255, 126, 87);
    cursor: pointer;
}
.fa-chevron-circle-right{
        padding-left: 10px;
}

/* main */

.introduce{
    width: 100%;
    height: 100%;
    position: relative;
   scroll-snap-align: start;
}


.information__game{
    min-height: 500px;
    margin: 100px 0 0 50px ;

}

.container__info{
    width: 100%;
    min-height: 60%;
    /* background-color: #fd4; */
    margin: 150px 0 0 25px;
    transform-origin: center ;
   animation: stagger 2s infinite linear  alternate;
   animation-delay: calc(1 * (1 / 3) * var(--delay)) ;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .3);
   border: 2px solid #b90;
   border-radius: 2px;
   color: #fd4;
   padding: 13px;
}

.container__info p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
}

.container__info:hover{
    cursor: pointer;
    border-color: #fd4;
}



.tutorial{
    margin-top: 50px;
    position: relative;
    height: 100%;
    width: 100%;
   background-image: url("https://maytinhvui.com/wp-content/uploads/2020/11/hinh-nen-may-tinh-4k-game-pubg10-min.png");
   background-repeat: no-repeat;
   background-size: 100%;
   display: flex;
   align-items: center;
   overflow: hidden;
   scroll-snap-align: start;
}

.items{
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

.title__battle{
        width: 100%;
        height: 100%;
       
}

.title__battle:last-child{
    color: #fff;
    font-size: 20px;

}
.block__img__pvp{
        position: absolute;
        height: 100%;
        overflow: hidden;
        top: 0;
        right: 0;
        border-radius: 3px;
        box-shadow: -10px -5px  5px 5px rgb(0, 0, 0, 0.3);
        transform: translateX(70%);
        transition:  transform linear 1s;
}
.img__pvp{
         height: 100%;
              
}

.block__img__pvp:hover{
    transform: translateX(15%);
}
.block__img__pvp:hover ~ .title__pvp{
    transform: translateX(-50%);
}



.title__pvp{
          position: absolute;  
          right: 0;
          top: 40%;
          transform: translateX(100%);
         transition:  transform linear 1s;
         width: 500px;
         
}
.title__pvp h1 {
        font-size: 40px;
        color: #fff;
}
.title__pvp p {
    font-size: 20px;
    color: #fff;
}

/* item container */
.items__container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.block__layout__items__gun{
    width: 90%;
    height: 100%;
    padding-top: 25%;
}
.items__gun-info{
        width: 100%;
        position: relative;
         height: 270px;
         border: 2px solid #b90;
         border-radius: 6px;
         align-items: center;
         overflow: hidden;


}

.items__gun-select{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.gun-select{
    width: 20%;
    position: relative;
}

.gun-select-st:hover > .effect-gun{
    cursor: pointer;
    display: block;
    transform: scale(1.2);        
}
.gun-select-stl:hover > .effect-gun{
    cursor: pointer;
    display: block;
     transform: scale(1.2);   
}
.gun-select-sbt:hover > .effect-gun{
    cursor: pointer;
    display: block;
    transform: scale(1.2);
}
.gun-select-sg:hover > .effect-gun{
    cursor: pointer;
    display: block;
     transform: scale(1.2);           
}

.gun-select img{
        width: 100%;
        
}
.effect-gun{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.gun-img-info{
    width: 100%;
    position: absolute;
    z-index: 10;
}
.gun-img-bgr{
    width: 100%;
    position: absolute;
    z-index: -1;
   top: -130px;
   opacity: 0.9;
}



.img__layout__item{
          display: flex;
          height: 100%;
          align-items: center;
}         

.tag__name__gun{
            color: #fff;
            line-height: 50px;
            font-size: 50px ;
            text-shadow: 3px 3px 3px  rgba(255, 221, 68, 0.404);
            margin-left: 20px;
}
.tag__name__type{
    color: rgb(107, 107, 107);
    margin-left: 18px;
    font-size: 30px;
    line-height: 50px;
}

/* blog */
        .blog{
            width: 100%;
            height: 100vh;
            scroll-snap-align: start;
        }

        #blog:hover * .effect__ui{
                  transform: translateY(0%);
        }

        .block__ui{
                    position: relative;
                    border-radius: 50px;
                    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .3);
                    width: 100%;
                    height: 100vh;
                    overflow: hidden;
                    border-top: 2px solid #fff;
        }

        .effect__ui{
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background-color: rgba(255, 221, 29, 0.76);
                  transform: translateY(-85%);
                  border-radius: 50px;
                  transition: transform linear 1s;
                  border: 1px solid #fff;
        }

        .select__ui{
                  position: relative;
                  width: 100%;
                  height: 80px;
                  top: 30%;
                  padding: 20px;          
                  text-align: center;                
        }

          .circle__avatar{
                    overflow: hidden;
                    width: 65px;
                    height: 65px;
                    border-radius: 100px;
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
          }
          .circle__avatar img{
                    width: 100%;
                    height: 100%;
          }


        .select__ui:hover > .fas , .select__ui:hover > .far{
                    font-size: 35px;
                    color: #fff;
                    cursor: pointer;
        }
        .select__ui > .far, .select__ui > .fas{
                  font-size: 30px;
                  color: rgb(255, 255, 255);
        }
        .select__ui > h4{
                  font-size: 13px;
                  color: aliceblue;     
        }
        .select__ui > .fas ~ h4{
                  margin-left: -15px;
        }

        .block__blog{
                  
                  width: 100%;
                  height: 100vh;
        }

        .tex__intro-blog{
                  width: 100%;
                  height: 48vh;
                  margin-bottom: 10px;
        }

        .tex__intro-blog h1{
                  font-size: 50px;
                  color: #fff;
                  line-height: 100px;
                  text-shadow: 3px 3px 3px #fd4;
        }
        .tex__intro-blog p{
                  font-size: 20px;
                  color: #fff;
                  line-height: 25px;
        }
        .tex__intro-blog.news{
                  border-radius: 3px;
                  border: 2px solid #fd4;
                  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
        }
        .news__content{
                  box-sizing: unset;
                  display: block;
                  width: 90%;
                  height: 25%;
                  padding: 0 5%;
        }
        .news__content h4{
                  height: 100%;
                  color: aliceblue;
                  font-size: 18px;
                  display: flex;
        }
        .news__content:hover{
                  background-color: rgb(77, 77, 77);
        }
        .news__content p{
                  font-size: 15px;
        }

        .imge__david img{
                    background-size: 100%;
        }

        .row-right-news{
                  font-size: 15px;
                  color: #fff;
                  padding: 5px;
        }


/* footer */

footer{
          margin-top: 40px;
          padding-top: 30px;
          border-top :2px solid #b90 ;
          width: 100%;
          

}

.footer__col{
          width: 100%;
          height: 100%;
          text-decoration: none;
}

.footer__col> li > h2{
          color: #fff;
          font-size:24px ;
          line-height: 40px;
}
.footer__col>li>a > h4{
                    color: #fff;
                    font-size:14px ;
                    line-height: 40px;
                    list-style: none;
}
.service__content{
          margin-top: 10px;
          width: 80%;
          
}
.content__item-face, .content__item-intag{
          display: flex;
          align-items: center;
          
}
.content__item-face *{
          color: rgb(28, 115, 255);
}
 .content__item-intag *{
          color: rgb(255, 179, 39);
}


.content__item-face:hover *{
                    color: rgb(253, 253, 253);
}
.content__item-intag:hover *{
          color: rgb(253, 253, 253);
}

.content__item-face:hover{
          background: linear-gradient(90deg, blue, rgb(99, 99, 228));
          border-radius: 5px;
          overflow: hidden;
          padding: 5px;
}
.content__item-intag:hover{
          background: linear-gradient(90deg, rgb(255, 145, 0), rgb(228, 187, 99));
          border-radius: 5px;
          overflow: hidden;
          padding: 5px;
}



/* pc low and  ipad hight */
@media (min-width: 1024px) and (max-width: 1321px) {
    .body__header{
        height: 55%;
    }
    .cover__login{
              height: 40%;
              width: 80%;
    }

}
          
        /* tablet low */
@media (max-width: 767px) and (min-width:600px){
    .nav__header{
        display: none;
    }
    .header__intro{
        top:5%
    }
    .body__header{
        height: 42%;
    }
    .cover__login{
              width: 100%;
              height: 60%;
    }

}


/* tablet  */
@media (max-width: 1023px) and (min-width: 768px) {
        .header__intro{
            top: 25%;
        }
    .nav__title-tex h4{
            font-size: 18px;
        }
    .block__help{
        display: none;
    }    
    .body__header{
        height: 42%;
    }
    .cover__login{
              height: 50%;
              width: 90%;
    }
}

        /*  nhỏ hơn tablet low */
        @media (max-width: 600px) {
            .nav__header{
                display: none;
            }
            .header__intro{
            display: none;
            }
            .block__help{
                display: none;
            }    
            .body__header{
                height: 50%;
            }
            .login__img__layout{
                      display: none;

            }
            .cover__login{
                      width: 100%;
                      height: 80%;
            }

        
        }